<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="dsd-footer">
    <template>
        <style>
            p{
                text-align: center;
                font-size: 14px;
                color: gray;
            }
        </style>
        <p>Copyright © 2016 duoshoudang.site All Rights Reserved | 京ICP备 00000000号-0</p>
    </template>

    <script>
        Polymer({
            is: "dsd-footer",
            properties:{

            }
        });

    </script>
</dom-module>
