<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/template/utils/dsd-authentication.html">;

<dom-module id="dsd-header">
    <template>
        <style>
            .logo{
                width:70px;
                height: 60px;
                background-color: #DDD;
                cursor: pointer;
            }
            .logo:hover{
                background-color: salmon;
            }
            paper-button, paper-icon-button{
                color: #DDD;
            }
            paper-toolbar{
                --paper-toolbar-background: black;
            }
            paper-toolbar paper-button:hover{
                color: salmon;
            }
            paper-toolbar paper-icon-button:hover{
                color: salmon;
            }
        </style>
        <paper-header-panel class="flex">
            <paper-toolbar>
                <iron-image class="logo" src="/images/logo.png" sizing="cover"></iron-image>
                <paper-button on-tap="jump" data="home"><iron-icon icon="home"></iron-icon>&nbsp;&nbsp;首页</paper-button>
                <paper-button on-tap="jump" data="goods"><iron-icon icon="apps"></iron-icon>&nbsp;&nbsp;购物</paper-button>
                <paper-button on-tap="jump" data="about"><iron-icon icon="info"></iron-icon>&nbsp;&nbsp;关于</paper-button>
                <div class="title"></div>
                <template is="dom-if" if="{{token}}">
                    <paper-icon-button icon="shopping-cart" on-tap="jump" data="shoppingCart"></paper-icon-button>
                    <paper-icon-button icon="account-circle" on-tap="jump" data="orders"></paper-icon-button>
                </template>
                <template is="dom-if" if="{{!token}}">
                    <paper-button on-tap="jump" data="login"><iron-icon icon="account-box"></iron-icon>&nbsp;&nbsp;登录</paper-button>
                    <paper-button on-tap="jump" data="register"><iron-icon icon="create"></iron-icon>&nbsp;&nbsp;注册</paper-button>
                </template>
            </paper-toolbar>
        </paper-header-panel>

        <dsd-authentication token="{{token}}"></dsd-authentication>

    </template>

    <script>
        Polymer({
            is: "dsd-header",
            jump: function(evt){
                var value=evt.target.getAttribute("data");
                console.log(value);
                if(value){
                    window.location.href="/#/"+evt.target.getAttribute("data");
                }
            },
            properties:{
                items:{
                    type: Array,
                    value: [
                        {
                            name: "首页",
                            target: "home",
                            icon: "home"
                        },
                        {
                            name: "商品",
                            target: "goods",
                            icon: "apps"
                        },
                        {
                            name: "关于",
                            target: "about",
                            icon: "info"
                        }
                    ]
                }
            }
        });

    </script>
</dom-module>
