<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="dsd-about">
    <template>
        
    </template>

    <script>
        Polymer({
            is: "dsd-about",
            properties:{

            }
        });

    </script>
</dom-module>
