<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="dsd-header">
    <template>
        <paper-header-panel class="flex">
            <paper-toolbar>
                <paper-button>首页</paper-button>
            </paper-toolbar>
        </paper-header-panel>
    </template>

    <script>
        Polymer({
            is: "dsd-header",
            properties:{

            }
        });

    </script>
</dom-module>
