<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="/bower_components/iron-validator-behavior/iron-validator-behavior.html">

<script>
    Polymer({
        is: 'custom-validator',

        behaviors: [
            Polymer.IronValidatorBehavior
        ]
	});
</script>

<dom-module id="dsd-register">
    <template>
        <div class="main">
			<paper-input label="Email" auto-validate pattern="[a-zA-Z\-_\.\d]+@([a-zA-Z\d]*\.)+[a-zA-Z\d]+" error-message="请输入合法的邮箱地址" value="{{email}}"></paper-input>
            <paper-input label="用户名" auto-validate pattern=".{3,30}" error-message="用户名请在3-30个字节之间" maxlength=30 value="{{username}}"></paper-input>
            <paper-input label="密码" auto-validate pattern=".{6,}" error-message="密码不少于6位" value="{{password}}" type="password"></paper-input>
			<custom-validator id="valid" validator-name="validatorSamePwd"></custom-validator>
			<paper-input label="重复密码" auto-validate id="repeatPwd" error-message="请输入相同的密码" type="password" validator="validatorSamePwd"></paper-input>
            <paper-button on-tap="register">注册</paper-button>
            <paper-button on-tap="jumpToLogin">登录</paper-button>

            <iron-ajax id="register_ajax" url="/api/account/register" method="POST" body="{{ajax_content}}" last-response="{{register_result}}" on-response="register_completed"></iron-ajax>
            <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
        </div>
    </template>

    <script src="/script/md5.js"></script>
    <script>
        Polymer({
            is: "dsd-register",
						
			validatorSamePwd: function(value) {
				//validation code
				console.log("validatorSamePwd");
				alert(value);
				alert(this.password);
				return value == this.password;
			},
			
			jumpToLogin: function(){
				window.location.href="/#/login/";
			},
            register: function(){
                this.ajax_content=JSON.stringify({
                    email: this.email,
                    password: hex_md5(this.password),
					username: this.username
                });
                this.$.register_ajax.generateRequest();
            },
            register_completed: function(){
                if(this.register_result.success){
                    this.token=this.register_result.successInfo;
                    alert("register succeed, token="+this.token);
                }else{
                    alert(this.register_result.errorInfo);
                }
            },
            properties:{
				email: {
					type: String
				},
                username: {
                    type: String
                },
                password: {
                    type: String
                },
                ajax_content: {
                    type: String
                },
                token: {
                    type: String
                }
            }
        });

    </script>
</dom-module>
