<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

<dom-module id="dsd-register">
    <template>
        <style>
            .content{
                margin:auto auto;
                display: block;
                width: 400px;
                margin-top: 100px;
            }
        </style>
        <paper-card class="content" heading="注册剁手党">
			<div class="card-content">
				<paper-input label="Email" auto-validate pattern="[a-zA-Z\-_\.\d]+@([a-zA-Z\d]*\.)+[a-zA-Z\d]+" error-message="请输入合法的邮箱地址" value="{{email}}"></paper-input>
				<paper-input label="用户名" auto-validate pattern=".{3,30}" error-message="用户名请在3-30个字节之间" maxlength=30 value="{{username}}"></paper-input>
				<paper-input label="密码" auto-validate pattern=".{6,}" error-message="密码不少于6位" value="{{password}}" type="password"></paper-input>
				<paper-input label="重复密码" value="{{repeatpwd}}" invalid="{{validDoublePwd(password,repeatpwd)}}" error-message="请保证两次密码一致" type="password"></paper-input>
			</div>
            <br>
			<div class="card-actions">
				<paper-button on-tap="register" disabled="{{isInvalid(email, username, password, repeatpwd)}}" raised>注册</paper-button>
				<paper-button on-tap="jumpToLogin">登录</paper-button>
			</div>

            <iron-ajax id="register_ajax" url="/api/account/register" method="POST" body="{{ajax_content}}" last-response="{{register_result}}" on-response="register_completed"></iron-ajax>
            <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
        </paper-card>
    </template>

    <script src="/script/md5.js"></script>
    <script>
        Polymer({
            is: "dsd-register",
									
			jumpToLogin: function(){
				window.location.href="/#/login/";
			},
									
			validDoublePwd:function(password,repeatpwd){
				return password!=repeatpwd;
			},
			isInvalid: function(email, username, password, repeatpwd){
				if(username.length<3){return true;}
				if(username.length>30){return true;}
				if(!((new RegExp("[a-zA-Z\\-_\\.\\d]+@([a-zA-Z\\d]*\\.)+[a-zA-Z\\d]+")).test(email))){return true;}
				if(password.length<6){return true;}
				if(repeatpwd!=password){return true;}
				return false;
			},
            register: function(){
				if(this.repeatpwd!=this.password){
					alert("Password Not Same!");
					return;
				}
                this.ajax_content=JSON.stringify({
                    email: this.email,
                    password: hex_md5(this.password),
					username: this.username
                });
                this.$.register_ajax.generateRequest();
            },
            register_completed: function(){
                if(this.register_result.success){
                    this.token=this.register_result.successInfo;
                    alert("register succeed, token="+this.token);
					window.location.href="/#/home/";
                }else{
                    alert(this.register_result.errorInfo);
                }
            },
            properties:{
				email: {
					type: String
				},
                username: {
                    type: String
                },
                password: {
                    type: String
                },
                repeatpwd: {
                    type: String
                },
                ajax_content: {
                    type: String
                },
                token: {
                    type: String
                }
            }
        });

    </script>
</dom-module>
