<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

<dom-module id="dsd-login">
    <template>
        <style>
            .content{
                margin:auto auto;
                display: block;
                width: 400px;
                margin-top: 100px;
            }
        </style>
        <paper-card class="content" heading="登录剁手党">
            <div class="card-content">
                <paper-input label="用户名" value="{{username}}"></paper-input>
                <paper-input label="密码" value="{{password}}" type="password"></paper-input>
            </div>
            <div class="card-actions">
                <paper-button on-tap="login">登录</paper-button>
                <paper-button>注册</paper-button>
            </div>
        </paper-card>

        <paper-toast id="tip">{{toast_msg}}</paper-toast>

        <iron-ajax id="login_ajax" url="/api/account/login" method="POST" body="{{ajax_content}}" last-response="{{login_result}}" on-response="login_completed"></iron-ajax>
        <iron-localstorage name="token" value="{{token}}"></iron-localstorage>
        <iron-localstorage name="username" value="{{verified_username}}"></iron-localstorage>
        <iron-localstorage name="type" value="{{type}}"></iron-localstorage>
    </template>

    <script src="/script/md5.js"></script>
    <script>
        Polymer({
            is: "dsd-login",
            observers:[
            ],
            login: function(){
                this.ajax_content=JSON.stringify({
                    email: this.username,
                    password: hex_md5(this.password)
                });
                this.toast_msg="正在登录...";
                this.$.tip.open();
                this.$.login_ajax.generateRequest();
            },
            login_completed: function(){
                if(this.login_result.success){
                    this.token=this.login_result.successInfo.token;
                    this.verified_username=this.username;
                    this.type=this.login_result.successInfo.type;
                    this.toast_msg="登录成功";
                    this.$.tip.open();
                    window.location.href="/#/home";
                }else{
                    this.toast_msg=this.login_result.errorInfo;
                    this.$.tip.open();
                }
            },
            properties:{
                username: {
                    type: String
                },
                password: {
                    type: String
                },
                ajax_content: {
                    type: String
                },
                token: {
                    type: String
                }
            }
        });

    </script>
</dom-module>
