<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">

<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">

<link rel="import" href="/template/utils/dsd-authentication.html">

<dom-module id="dsd-shoppingCart">
    <template>
        <style>
            .content{
                margin:auto auto;
                display: block;
                width: 800px;
                margin-top: 100px;
            }
			.item{
				margin:auto auto;
				display: block;
				width: 560px;
				margin-top: 0px;
			}
			.tdClass{
				width: 600px;
			}
        </style>
        <paper-card class="content" heading="购物车">
            <div class="card-content">
				<template is="dom-repeat" items="{{cast_result.successInfo}}">
					<paper-card class="item" heading="{{item.product_info.product_name}}">
						<table border="0">
							<td class="tdClass">型号  {{getItemTypeName(item.info,item.sort_identifier)}}</td>
							<td class="tdClass">单价  {{item.product_info.price}}</td>
							<td class="tdClass">件数  {{item.number}}  <paper-icon-button icon="remove-circle-outline" on-click="removeOne({{item}})"></paper-icon-button><paper-icon-button icon="add-circle-outline" on-click="addOne({{item}})"></paper-icon-button></td>
							<td class="tdClass">总价  {{mul(item.product_info.price,item.number)}}</td>
						</table>
					</paper-card>
				</template>
			
            </div>
            <div class="card-actions">
                <paper-button on-tap="cashout">去结算</paper-button>
            </div>
        </paper-card>

        <paper-toast id="tip">{{toast_msg}}</paper-toast>
		
		
		<iron-ajax auto id="showcart_ajax" url="/api/shoppingcart" method="GET" headers="{{showcart_auth}}" last-response="{{cast_result}}"></iron-ajax>
		<iron-ajax id="deleteItem_ajax" url="/api/shoppingcart/{{item.good_id}}/{{item.sort_identifer}}" method="DELETE" headers="{{delItem_auth}}" last-response="{{delItem_result}}"></iron-ajax>
		<iron-ajax id="putItem_ajax" url="/api/shoppingcart/{{item.good_id}}/{{item.sort_identifer}}" method="PUT" headers="{{delItem_auth}}" body="{{put_content}}" last-response="{{putItem_result}}"></iron-ajax>

        <iron-ajax id="cashout_ajax" url="/api/bill" method="POST" body="{{ajax_content}}" last-response="{{cashout_result}}" on-response="cashout_completed"></iron-ajax>
        <dsd-authentication token="{{token}}" type="{{type}}" username="{{username}}"></dsd-authentication>
    </template>

    <script src="/script/md5.js"></script>
    <script>
        Polymer({
            is: "dsd-shoppingCart",
            observers:[
			'_authChanged(token)'
            ],
			_authChanged:function(token){
				this.showcart_auth={
					authorization: this.token
				};
			},
            cashout: function(){
                this.ajax_content=JSON.stringify({
					// TODO
                });
                this.toast_msg="正在跳转，请稍候...";
                this.$.tip.open();
                this.$.cashout_ajax.generateRequest();
            },
            cashout_completed: function(){
				//TODO
            },
			getItemTypeName:function (a,b){return a[b].name},
			mul:function (a,b){return a*b;},
			removeOne: function(item){
				if(item.number==1){
					this.$.deleteItem_ajax.generateRequest();
					
				}else{
					item.number=item.number-1;
					this.put_content={number:item.number};
					this.$.putItem_ajax.generateRequest();
				}
			},
			addOne: function(item){
				item.number=item.number+1;
				this.put_content={number:item.number};
				this.$.putItem_ajax.generateRequest();				
			},
            properties:{
                username: {
                    type: String
                },
                ajax_content: {
                    type: String
                },
                token: {
                    type: String
                }
            }
        });

    </script>
</dom-module>
